@font-face{
	font-family:"Nanum Gothic";
	src:url('../fonts/NanumGothic.eot');
	src:url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NanumGothic.woff') format('woff'),
	url('../fonts/NanumGothic.ttf') format('truetype'),
	url('../fonts/NanumGothic.svg#NanumGothic') format('svg');
	src:local(※), url('../fonts/NanumGothic.woff') format('woff');
}
@import 'react-week-calendar/dist/style.css';

* {
  font-family: 'NanumGothic', 'serif'!important;
} 
/* MainNavigateBar */
.catBlock:hover {
  /* background-color: rgb(255, 255, 255)!important; */
  text-align:center!important;
}/* Change the color of link block on hover */
.MainCategories {
  margin:auto!important;
  display: block;
  color:#cbf7d8;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
}/* Link css */
.MainCategories:hover {
  color: rgb(52, 110, 255);
}/* Change the color of link on hover */


/*Remove underline from LINK tag */
a, u {
  text-decoration: none!important;
  color: rgb(73, 145, 226);
}
/*Layout for Page content ex. noticelist */
.pageContent {
  padding: 20px 30px 30px 30px!important;
}
/* Title style for all page */
/* .pageTitle {
  font-family: "Lucida Sans Unicode", Verdana, Helvetica, Arial, "맑은 고딕", 나눔고딕, 서울남산체, sans-serif!important;
  background: #d6ffd6!important; 
  margin-bottom: 20px!important;
  padding: 10px!important;
} */
.pageTitle {
  padding: 0.7rem!important;
  background: #e6f7ff!important;
}

/* 
.main-notice {
  border: 1px solid #ddd;
  width: 50%;
  height: 150px;
  float: left;
}

.main-News {
  border: 1px solid #ddd;
  width: 50%;
  height: 150px;
  float: right;
}

.main-notice-tag {
  border: 1px solid #ddd;
  width: 25%;
  height: 30px;
  float: left;
}

.main-notice-title {
  border: 1px solid #ddd;
  width: 100%;
  height: 30px;
  float: left;
}

.main-News-title {
  border: 1px solid #ddd;
  width: 25%;
  height: 30px;
} */

.main-login {
  float: right;
}
/* Main Page Img Slider */
.ant-carousel {
  height: 200px;
}
.ant-carousel img {
  height: 200px;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 200px;
  line-height: 200px;
  overflow: hidden!important;
}
.ant-carousel .slick-dots {
  height: 50px!important;
}
.ant-carousel .slick-dots button {
  background-color: #ffffff!important;
}

/* Main Page MainPosts block*/
.mainPostsContainer {
  height: 100%!important;
}
.mainPostsList {
  height: 100%!important;
}
.mainPostsList .ant-card-head {
  height: 7%!important;
}

.mainPostsList .ant-card-head-title {
  font-size: 23px!important;
  line-height: 1.2rem!important;
  font-family: 'Noto Sans','Noto Sans KR','NanumGothic','Arial','sans-serif';
}
.mainPostsList .ant-card-body {
  height: 93%!important;
}
.mainPostsList .ant-card-head-title {
  font-family: 'NanumGothic', 'serif'!important;
  font-weight: bold!important;
}
/*그리드형 카드 보더 두드러짐 방지 */
.ant-card-contain-grid:not(.ant-card-loading) {
  margin: 0!important;
}
.ant-card-bordered {
  border: none!important;
}

/*Page Layout UI */
.menuGroup .ant-menu-item-group-title {
  font-size: 35px!important;
  font-style: oblique!important;
}
.menuGroup li {
  font-size: 20px!important;
  font-style: oblique!important;
}
.ant-menu-submenu-title {
  font-size: 20px!important;
  font-style: oblique!important;
}




/* Notice List UI*/
.ant-tabs-bar {
  margin-bottom: 2px!important;
}
.post .ant-card-head-title {
  font-size: 2rem!important;
}
.postButtons {
  margin-left: 5px!important;
}
/* hide the default sort button in antd table */
.noticeList .ant-table-column-sorter {
  display: none!important;
}

/* Professor List UI */
.memberList * {
  border: none!important;
}

.memberList .ant-avatar-lg {
  width: 100px!important;
  height: 100px!important;
  border: 1px solid #ddd!important;
}

.memberCard {
  border-radius: 20px!important;
}
.memberList .memberCard .ant-card-meta-detail > div:not(:last-child){
  margin-top: 20px!important;
  width: auto!important;
}
.memberList .memberCard .ant-card-meta-title {
  font-size: 18px!important; 
  width: auto!important; 
}
.memberList .ant-card-body {
  padding: 20px!important;
}
.memberList .ant-collapse-content > .ant-collapse-content-box {
  padding-left:30px!important;
  border: 1px groove #72b6ff!important;
}
.memberList .ant-collapse {
  border-radius: 20px!important;
}


/*Reservation Page */
.reservationCategory > :only-child {
  border-radius: 20px!important;  
}
.customModal__text span {
  font-size: 20px!important;
}
.customModal input {
  height: 40px!important;
  font-size: 20px!important;
}
.customModal button {
  background: #6b9a79!important;
  border: none!important;
} 
.weekPicker {
  margin: 5px!important;
}
.weekCalendar__overlay {
  padding-top: 5px!important;
  padding-left: 15px!important;
}
.weekCalendar {
  border-radius: 20px!important;
}
.weekCalendar__overlay .event {
  color: royalblue!important;
  font-size:calc(10px + 0.5rem)!important;
  text-align: center!important;
}
.weekCalendar__headerWrapper {

}
.weekCalendar__headerColumn {
  color: white!important;
  background: #6b9a79!important;
  font-weight: 400!important;
}
.weekCalendar__scaleHeader {
  color: white!important;
  background: #6b9a79!important;
  font-weight: 400!important;
}
