/* MainNavigateBar */
.catBlock:hover {
  background-color: rgb(255, 255, 255)!important;
  text-align:center!important;
}/* Change the color of link block on hover */
.MainCategories {
  margin:auto!important;
  display: block;
  color:#6b9a79;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}/* Link css */
.MainCategories:hover {
  color: rgb(52, 110, 255);
}/* Change the color of link on hover */


/* .write-notice {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    border: 1px solid #ddd8d8;
} */

.main-notice {
  border: 1px solid #ddd;
  width: 50%;
  height: 150px;
  float: left;
}

.main-News {
  border: 1px solid #ddd;
  width: 50%;
  height: 150px;
  float: right;
}

.main-notice-tag {
  border: 1px solid #ddd;
  width: 25%;
  height: 30px;
  float: left;
}

.main-notice-title {
  border: 1px solid #ddd;
  width: 100%;
  height: 30px;
  float: left;
}

.main-News-title {
  border: 1px solid #ddd;
  width: 25%;
  height: 30px;
}

.main-login {
  float: right;
}
/* Main Page Img Slider */
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden!important;
}
.ant-carousel .slick-dots {
  height: 30px!important;
  
}
.ant-carousel .slick-dots button {
  background-color: #364d79!important;
}

/* Main Page MainPosts block*/
.mainPostsContainer {
  height: 100%!important;
}
.mainPostsList {
  height: 100%!important;
}